@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel

@{
    ViewData["Title"] = "Log in";
}

<div class="popup-form-layout">
    <a class="close-popup-symbol">&#10060;</a>
    <div class="popup-title">Login.</div>

    <section id="socialLoginForm">
        <p>With an external account...</p>

        @{ Html.RenderPartial("_ExternalLoginList"); }
    </section>

    <p>Or with a SoundVast account.</p>

    <form asp-action="Login" asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <div class="col-md-12">
                <input asp-for="UserName" class="form-control" placeholder="Username"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <label asp-for="RememberMe" class="remember-me"></label>
        <input type="checkbox"/>
        <br />

        <div>
            <a asp-action="Register" asp-controller="Account">Register</a> if you don't have an account.
            @*@Ajax.ActionLink("Register", "Register", "Account", null, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "popup", InsertionMode = InsertionMode.Replace, AllowCache = true })*@
        </div>
        <div>
            <a asp-action="ForgotPassword" asp-controller="Account">Forgot your password?</a>
        </div>

        <input type="submit" class="btn btn-1" value="Login" />
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
