@using SoundVast.Components.Account.ViewModels
@model SoundVast.Components.Account.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="popup-form-layout">
    <a class="close-popup-symbol">&#10060;</a>
    <div class="popup-title">Register.</div>

    <section id="socialLoginForm">
        @{ Html.RenderPartial("_ExternalLoginList"); }
    </section>

    <p>Or with a SoundVast account.</p>

    <form asp-action="Register" asp-controller="Account" method="post" class="form-horizontal" role="form">

    <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <div class="col-md-12">
                <input asp-for="UserName" class="form-control" placeholder="Username" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div>
            <a asp-action="Login" asp-controller="Account">Login</a> if you already have an account.

            @*@Ajax.ActionLink("Login", "Login", "Account", null, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "popup", InsertionMode = InsertionMode.Replace })*@
        </div>

        <br />
        <div class="tos fine-print">
            By registering you are agreeing to our <a asp-action="TermsOfUse" asp-controller="Content">terms of use.</a>
        </div>

        <input type="submit" class="btn btn-1" value="Register" />
    </form>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
