@model AdditionalUploadFileViewModel

<div class="additional-file-details">
    <div class="row row-eq-height">
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="Album"></label>
                <input asp-for="Album" class="form-control"/>
                <span asp-validation-for="Album" class="text-danger"></span>

                <label asp-for="ReleaseDate"></label>
                <input asp-for="ReleaseDate" class="form-control date-picker" type="date" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-7">
            <label asp-for="Lyrics"></label>
            <div class="resize-container">
                <textarea asp-for="Lyrics" rows="7" cols="38" class="resize"></textarea>
                <div class="text-copy"></div>
            </div>
            <span asp-validation-for="Lyrics" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>
</div>