@model ReportCreateViewModel

<div class="popup-form-layout">
    <a class="close-popup-symbol">&#10060;</a>
    <div class="popup-title">Report.</div>
    <hr class="hr-popup" />

    <form asp-action="RequestDeletion" asp-controller="FileStream" class="form-horizontal" role="form">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.ReportId)

        <div class="form-group">
            <div class="col-md-12">
                <input type="checkbox" asp-for="Reason" value="Quality" class="radio-button-list" />
                <span asp-validation-for="Reason" class="text-danger"></span>

                Quality - Low quality audio (below x Kbps)
            </div>

            <div class="col-md-12">
                <input type="checkbox" asp-for="Reason" value="Duplicate" class="radio-button-list" />
                <span asp-validation-for="Reason" class="text-danger"></span>

                Duplicate - An exact duplicate of another fileStream
            </div>

            <div class="col-md-12">
                <input type="checkbox" asp-for="Reason" value="Copyright" class="radio-button-list" />
                <span asp-validation-for="Reason" class="text-danger"></span>

                Copyright - This fileStream is breaking copyright law.
            </div>

            <div class="col-md-12">
                <input type="checkbox" asp-for="Reason" value="Inappropriate" class="radio-button-list" />
                <span asp-validation-for="Reason" class="text-danger"></span>

                Inappropriate/Abuse - Blatantly off topic and does not belong to any audio genre
            </div>

            <div class="col-md-12">
                <input type="checkbox" asp-for="Reason" value="Other" class="radio-button-list" />
                <span asp-validation-for="Reason" class="text-danger"></span>

                Other - In need of moderator intervention but matches none of the above
            </div>

            <div class="col-md-12">
                Any additional details
                
                <textarea asp-for="AdditionalDetails" class="additional-details" placeholder="Please be specific"></textarea>
                <span asp-validation-for="AdditionalDetails" class="text-danger"></span>
            </div>
            <br />
        </div>
        <input type="submit" class="btn btn-1" value="Report" />
    </form>
</div>
