@model IEnumerable<AudiosViewModel>

@{
    ViewData["Title"] = Context.Session.GetString("Category") + "s";
}

@*@section SortingSection
{
    <section id="sorting-text"></section>
}*@

<div class="container-fluid">
    @*@{ Html.RenderPartial("Audio/_SortingHeader"); }*@
    <section class="grid-audio">
        @Html.DisplayForModel()
    </section>
</div>

<div class="container-fluid">
    <cs-pager cs-paging-pagesize="@Audio.PageSize" cs-paging-totalitems="100" cs-pagenumber-param="page" asp-action="FileStreams" asp-route-genre="@Context.Session.GetString("Genre")"></cs-pager>
</div>

@{ Html.RenderPartial("_RootPlugin"); }

<script type="text/SortingText-template">
    @ViewBag.SortingText
</script>

@*@section Scripts{
    <script>initFrontpageAudio();</script>
}*@