@model IEnumerable<GenreViewModel>

@{ 
    ViewData["Title"] = "Genres";
}

<div class="container">
    @foreach (var item in Model)
    {
        <div class="col-md-5ths">
            <div class="wrapper">
                <a asp-action="FileStreams" asp-route-category="@item.Name">
                    <img src="@item.ImagePath" alt="@item.Name Genre" class="cover-image genre-image" title="Name" />
                </a>
                <div class="genre-title">@item.Name</div>
            </div>
        </div>
    }
</div>

@{ Html.RenderPartial("_RootPlugin"); }