<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="@Url.Content("~/css/error.min.css")" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - SoundVast</title>
</head>
<body class="error-container">
    <img src="@Url.Content("~/images/soundvast-error-logo.png")" alt="SoundVast" />

    @RenderBody()
</body>
</html>