@model QuoteViewModel

@{
    @ViewData["Title"] = "Bad Gateway Error (502)";
}

<h1>@ViewData["Title"]</h1>
<h2>Please try again later.</h2>

<br />
<br />
<span id="Kyanise-Dog"><label asp-for="Name"></label></span>