@model QuoteViewModel

@{
    @ViewData["Title"] = "Bad Request Error (400)";
}

<h1>@ViewData["Title"]</h1>
<h2>This is most likely caused by an incorrectly typed URL.</h2>

<br />
<br />
<span id="Kyanise-Dog"><label asp-for="Name"></label></span>