@model QuoteViewModel

@{
    @ViewData["Title"] = "Gateway Timeout Error (400)";
}

<h1>@ViewData["Title"]</h1>
<h2>It looks like a server is down on our end and the request to the server is timing out. Please try again later.</h2>

<br />
<br />
<span id="Kyanise-Dog"><label asp-for="Name"></label></span>