@model QuoteViewModel

@{
    @ViewData["Title"] = "Gone Error (410)";
}

<h1>@ViewData["Title"]</h1>
<h2>The page you are trying to access has been permanently deleted.</h2>

<br />
<br />
<span id="Kyanise-Dog"><label asp-for="Name"></label></span>