@model QuoteViewModel

@{
    ViewBag.Title = "Internal Server Error (500)";
}

<h1>@ViewData["Title"]</h1>
<h2>An error has occured on our servers, we will try to get this fixed soon. Please try again later.</h2>

<br />
<br />
<span id="Kyanise-Dog"><label asp-for="Name"></label></span>