@model QuoteViewModel

@{
    ViewBag.Title = "Not Found Error (404)";
}

<h1>@ViewData["Title"]</h1>
<h2>This web page doesn't exist.</h2>

<br />
<br />
<span id="Kyanise-Dog"><label asp-for="Name"></label></span>