@model QuoteViewModel

@{
    ViewBag.Title = "Request Timeout Error (408)";
}

<h1>@ViewData["Title"]</h1>
<h2>This is most likely a problem with your connection to the server or our servers are overloaded. Please try refreshing the page.</h2>

<br />
<br />
<span id="Kyanise-Dog"><label asp-for="Name"></label></span>