@model QuoteViewModel

@{
    ViewBag.Title = "Service Unavailable Error (503)";
}

<h1>@ViewData["Title"]</h1>
<h2>This is most likely due to our servers being down for maintance or they are too busy to handle your request. Please try again later.</h2>

<br />
<br />
<span id="Kyanise-Dog"><label asp-for="Name"></label></span>