.modal-layout {
    margin-left: 37px;
    margin-right: 37px;
}

.modal-close,
.modal-close:hover {
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    right: 6px;
    text-decoration: none;
    top: 4px;
}

.modal-title {
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 18px;
}