@import '../styles/colors';

.commentTree {
    margin-top: 7px;
    margin-bottom: 7px;
}

.comment:hover {
    .flag {
        display: initial;
    }
}

.userName {
    font-weight: bold;
    margin-right: 5px;
    font-size: 15px;
}

.dateAdded {
    color: @grey6;
    font-size: 12px;
}

.body {
    margin-top: 3px;
    margin-bottom: 3px;
}

.controls {
    display: flex;
    align-items: center;
}

.flag {
    margin-left: auto;
    display: none;
}