.modal {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    min-width: 400px;
    background-color: white;
    z-index: 100;
    padding: 25px;
    border-radius: 2px;
    
    @media (max-width: 500px) {
        height: 100vh;
        top: 0%;
        left: 0%;
        transform: translateX(0%);
        width: 100%;
        min-width: 100px;
        border-radius: 0;
    }
}

.hide {
    display: none;
}

.close,
.close:hover {
    position: absolute;
    right: 6px;
    top: 6px;
    border:none;
    background-color: initial;
    font-size: 18px;
}

.title {
    margin-top: 14px;
    margin-bottom: 10px;
    font-size: 23px;
}

.hr {
    margin-top: 15px;
    margin-bottom: 15px;
}