@import '../../styles/colors.less';

.dropzone {
    border: solid 1px @grey11;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;

    img {
        border-radius: 2px;
    }
}

.placeholder {
    color: @grey4;
    text-align: center;
    background-color: @grey10;
    transition: 0.2s ease-in-out;
    font-size: 1.1;
    padding: 10px;
    border-radius: 4px;
    border: solid 1px transparent;
    z-index: 1;
    user-select: none;
}

.placeholderContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.placeholder:hover {
    border-color: @grey7;
}