@import '../../styles/colors';

.hide {
  display: none;
}

.dropdown {
  position: relative;
  font-size: 14px;

  ul {
    margin: 0;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;

    li {
      display: flex;
      flex-direction: column;

      > a, button {
        border-bottom: solid 1px @grey2;
        text-align: left;
        white-space: nowrap;
        font-size: 13px;
      }
    }
  }
}