.song {
    margin: 10px;
    padding: 5px;
    background-color: #f2f2f2;
    border-radius: 2px;
    min-width: 100px;
    flex-grow: 1;
    flex-basis: 200px;
    figure {
        margin: 0;

        figcaption {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.imageContainer {
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-width:100%;
    }
}

.imageContainer:hover .play {
    visibility: visible;
    opacity: 1;
}

.play {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    transition: visibility 600ms, opacity 600ms;
}

.name {
    font-size: 14px;
}

.artist {
    font-size: 11px;
} 