@import '../styles/colors.less';

.songsHeader {
    background-color: @grey1;
    padding-top: 1px;
    padding-bottom: 1px;
    display: flex;
    justify-content: center;

    button {
        margin-right: 7px;
        margin-left: 7px;
    }
}