.songTitle {
    height: 30px;
    padding: 5px 0px;
}

.songTitleNameOnly {
    display: flex;

    .songName {
        align-self: flex-end;
    }
}

.controlsRow {
    display: flex;
    padding: 1px 0px;
    align-items: center;

    a, [role="button"], .playCount {
        padding: 3px;
    }
}

.controls {
    margin-top: 4px;
}

.alignRight {
    margin-left: auto;
}