@model CreateCommentViewModel

<form asp-action="CreateComment" method="post" id="create-comment"> 
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="AudioId"/>

    <div class="resize-container">
        <textarea asp-for="Body" class="resize" maxlength="300" rows="7" cols="38"></textarea>
        <div class="text-copy"></div>
    </div>
    <span asp-validation-for="Body" class="text-danger"></span>

    <input type="submit" class="btn btn-1" value="Comment" />
</form>