@model SearchViewModel

<form asp-action="Search" asp-controller="Search" method="get" id="search">
    <input type="hidden" value="@Url.Action("GetSearchTags", "Search")" />

    <i class="fa fa-search"></i>
    <input type="search" id="search" name="search" placeholder="Search" />

    <div id="filter">
        <span><strong>Syntax</strong></span>
    </div>
</form>