@model ReportCommentViewModel

<div class="popup-form-layout">
    <a class="close-popup-symbol">&#10060;</a>
    <div class="popup-title">Report.</div>
    <hr class="hr-popup" />

    <form asp-action="Report" asp-controller="Comment" method="post" class="form-horizontal" role="form">
        @Html.AntiForgeryToken()

        <input type="hidden" asp-for="Id"/>

        <div class="form-group">
            <div class="col-md-12">             
                <input type="radio" asp-for="Reason" value="Spam" class="radio-button-list"/> Commercial advertising or spam
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <input type="radio" asp-for="Reason" value="Pornography" class="radio-button-list" /> Pornography or sexually explicit material
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <input type="radio" asp-for="Reason" value="Harassment" class="radio-button-list" />  Harassment or bullying
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <input type="radio" asp-for="Reason" value="Copyright" class="radio-button-list" /> Copyrighted material
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <input type="radio" asp-for="Reason" value="Other" class="radio-button-list" /> Other
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                Any additional details
                <div class="resize-container">
                    <textarea asp-for="AdditionalDetails" cols="7" rows="38" class="additional-details resize" placeholder="Please be specific"></textarea>
                    <div class="text-copy"></div>
                </div>
                <span asp-validation-for="AdditionalDetails" class="text-danger"></span>
            </div>
            <br />
        </div>
        <input type="submit" class="btn btn-1" value="Report" />
    </form>
</div>
