@import '../../styles/colors';

.button {
    outline: none;
    cursor: pointer;
    border: none;
}

.primary {
    border-bottom: 1px solid @secondary;
}

.secondary {
    font-weight: bold;
}

.primary, .secondary {
    padding: 10px 15px;
    color: @primary;
    letter-spacing: 0.1em;
    background-color: @grey3;
    transition: background-color 0.5s ease;
}

.primary:hover, .secondary:hover {
    background-color: @grey2;
    border-radius: 2px;
}