.audiosSubHeader {
    display: flex;
}

.audiosSubHeader:before {
    content: '';
    flex: 1;
}

.middleColumn, .rightColumn {
    display: flex;
    flex: 1;
}

.toggleSideBar {
    margin-left: auto;
    margin-top: 5px;
    margin-right: 10px;
}