.audiosSubHeader {
    display: flex;
}

.filtersTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.filters {
    flex: 1;
}

.toggleSideBarContainer {
    display: flex;
    flex: 1;
}

.toggleSideBar {
    margin-left: auto;
    margin-top: 5px;
    margin-right: 10px;
}