@import '../styles/colors.less';

.filterText {
    line-height: 1.2em;
    letter-spacing: 1.35px;
    font-size: 17px;
}

.slider {
    position: absolute;
    left: 0;
    top: 100%;
}

.label {
    color: @primary;
    font-weight: bold;
}

.dateFrom, .dateTo {
    position: relative;

    input[name="filterYear"] {
        width: 2.25em;
    }

    input[name="filterMonth"], input[name="filterDate"] {
        width: 1.2em;
    }

    input, span {
        color: @primary;
        font-weight: bold;
        font-size: inherit;
    }

    input {
        background-color: transparent;
        text-align: center;
        border: 0;
        padding: 3px;
        font-weight: bold;
        border-bottom: 1px solid;
    }
}