.select {
    width: 130px;
}

.filters {
    width: 100%;
    display: flex;
    justify-content: center;
}

.filterToggles {
    display: flex;
    button {
        margin-left: 7px;
        margin-right: 7px;
        font-weight: bold;
    }
}

.rangeFilter {

}

.rangeFilterLabel {
    white-space: nowrap
}