.sideBar {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    right: 0;
    max-width: 30%;
    min-width: 30%;
    margin-left: 10px;
    background-color: white;    
}

.commentBox {
    margin-top: 15px;
    margin-bottom: 10px;
}

.name {
    font-size: 18px;
    font-weight: bold;
}
