.sideBar {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    right: 0;
    max-width: 30%;
    min-width: 30%;
    background-color: white;    
    box-sizing: border-box;
}

.commentBox {
    margin-top: 15px;
    margin-bottom: 10px;
}

.name {
    font-size: 18px;
    font-weight: bold;
}

.fixedSideBar {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
}