@model ReportFileStreamsViewModel

<div class="col-md-5ths">
    <div class="audio-wrapper">
        <div class="poster-wrapper tint">
            <img src="@Model.ImageViewModel.ImagePath" alt="Reported Audio" class="cover-image" data-url="@Url.Action("FileStream", new { id = Model.Id, fileStreamName = Model.Name.ToUrlFriendlyString() })"/>
        </div>

        <div class="display">
            <label asp-for="Name"></label>
            <label asp-for="Artist"></label>
            <label asp-for="Reason"></label>
            <label asp-for="AdditionalDetails"></label>
        </div>

        <div class="view-counts">
            <label asp-for="UniqueViews"></label>
            <i class="fa fa-eye"></i>
        </div>

        @{ Html.RenderPartial("_Ratings", Model); }
    </div>
</div>