@model ReportFileStreamDisplayViewModel

<div>
    <label asp-for="Reason"></label>
    @Html.DisplayFor(x => x.Reason)
    @Html.ActionLink(Html.DisplayFor(x => x.DuplicateFileStreamViewModel.Name).ToString(), "FileStream", "FileStream", new { id = Model.DuplicateFileStreamViewModel.Id, fileStreamName = Model.DuplicateFileStreamViewModel.Name }, null)
    <label asp-for="AdditionalDetails"></label>
    <br />
    <br />
</div>