@model LikedAudioListViewModel

<h2>FileStreams</h2>
<label asp-for="LikedFileStreamViewModels"></label>

<h3>Radio Stations</h3>
<label asp-for="LikedLiveStreamViewModels"></label>

<h2>Playlists</h2>
<label asp-for="LikedPlaylistViewModels"></label>