@model CategoryViewModel

<div class="col-md-5ths">
    <div class="wrapper">
        <a asp-action="FileStreams" asp-route-category="Name">
            <img src="@Model.ImageViewModel.ImagePath" alt="@Model.Name Category" class="cover-image category-image" title="Name" data-url="@Url.Action("FileStreams", new { id = Model.Id, fileStreamName = Model.Name.ToUrlFriendlyString() })" />
        </a>
        <label asp-for="Name" class="category title"></label>
    </div>
</div>