<form asp-action="UploadLiveStream" asp-controller="UploadLiveStream" method="post" class="upload livestream">
    @Html.AntiForgeryToken()

    <div id="livestream-container"></div>

    <input type="submit" class="btn btn-1" value="Upload" />
</form>