@{
    ViewData["Title"] = "About SoundVast";
}

<div class="col-md-12">
    <div class="container">
        <h2>About SoundVast</h2>
        <p>
            SoundVast allows the upload and streaming of sounds, much like any other music website. What makes us special then?<br/>
            The top rated sounds get pushed to the top and anyone can edit the posts (see *address* for in depth on how this works), much like imgur and wikipedia combined, but for audio!
        </p>
        <p>
            Each fileStream/artist/album can only be Uploaded to SoundVast once to avoid duplicates, however you can upload as many duplicates to your account as you want within your limit.
        </p>
        <p>
            Get Social With Us
            SoundVast is on Facebook; like our page to stay updated and informed and to be alerted when new music is featured on our website. 
            To learn more about SoundVast, contact us today and let us answer any questions you might have!
            (Be sure to add your social audio links above for better backlinks to your site.)
        </p>
    </div>
</div>

@{ Html.RenderPartial("_RootPlugin"); }