@{   
    ViewData["Title"] = "Copyright Information";
}

<div class="col-md-12">
    <div class="container">
        <h2>Copyright</h2>
        SoundVast beleives that people should be credited for their works. We take Copyright infrignment seriously and sounds that do break copyright
        will be removed without warning.
    </div>
</div>

@{ Html.RenderPartial("_RootPlugin"); }