@model BuyLinkViewModel

<input type="text" asp-for="LinkUrl" class="form-control dynamic-list buy-link" value="LinkUrl" />
<span asp-validation-for="LinkUrl" class="text-danger dynamic-list"></span>
