:global {
  header {
    nav [class*='outerList'] {
      > li {
        display: inline-block;
      }

      a {
        color: #157bf8;
        cursor: pointer;
        font-family: 'Source Sans Pro', Arial;
        font-size: 16px;
        margin: 5px;
        padding-bottom: 20px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 16px;
        position: relative;
        font-weight: bold;
      }

      a:hover {
        background-color: #cccccc;
        text-decoration: none;
      }

      [class*='navDropdownList'] li {
        background-color: #114ca7;
        width: 120px;
        a,
        input[type=submit] {
          background-color: #114ca7;
          color: white;
          display: block;
          padding: 10px;
          text-decoration: none;
          border: 0;
          width: 100%;
          text-align: left;
        }

        a:hover,
        input[type=submit]:hover {
          background-color: #157bf8;
          color: white;
          padding: 10px;
        }
      }
    }
  }
}

.header {
  background-color: white;
  top: 0;
  width: 100%;
}

.outerList {
  margin: 0;
  padding: 0;
}

.navDropdown {
  border: none;
  color: #157bf8;
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 16px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 14px;
  position: relative;
}

.navDropdownList {
  cursor: pointer;
  display: none;
  list-style-type: none;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
}