@import '../styles/colors';

.header {
  background-color: @grey1;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;

  nav {
    position: relative;
    width: 60%;
    display: flex;

    > a {
      display: flex;
      align-items: center;
      height: 100%;
      box-sizing: border-box;
    }
  }
}

.navButton {
  margin-left: 2px;
  margin-right: 2px;
  height: 100%;
}

.logoLink {
  padding: 5px 10px;
}

.logoIcon {
  width: 200px;
  height: 43px;
}

.menuIcon, .reviewIcon {
  width: 23px;
  height: 23px;
}

.extraDropdown {
  li {
    > a {
      border-bottom: solid 1px @grey2;
    }
  }
}

.extraDropdownTitle {
  height: 100%;
}

.search {
  margin-left: 10px;
  margin-right: 40px;
}