@import '../styles/colors';

.header {
  border-bottom: solid 1px @grey1;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;

  nav {
    position: relative;
    width: 60%;
    display: flex;

    > a {
      display: flex;
      align-items: center;
      box-sizing: border-box;
    }
  }
}

.navButton {
  margin-left: 2px;
  margin-right: 2px;
}

.logoLink {
  padding: 5px 10px;
}

.logoIcon {
  width: 200px;
  height: 43px;
}

.menuIcon, .reviewIcon {
  width: 23px;
  height: 23px;
}

.legalDropdown {
  li {
    > a {
      border-bottom: solid 1px @grey2;
    }
  }
}

.legalDropdownTitle {
  height: 100%;
}

.search {
  margin-left: 10px;
  margin-right: 40px;
}

.copyrightNotice {
  white-space: nowrap;
  display: flex;
  color: @grey4;
  font-size: 12px;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}