<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="msvalidate.01" content="0A614662B19E7F29363B183EFE007FFB" />
    <meta name="google-site-verification" content="dqWC03pA-E1s8_CbYQNjpZWv0WHN7DpPQggO0uKTepg" />
    <meta name="google-site-verification" content="11f963Hs4Ye4Y2CT8NDTkFYea9pUUzil22EinUTpgDs" />
    <meta name="google-site-verification" content="qW0GU6pswgsXnclwXORtoVT4v0LwMSGG_yN6Uzgm3f8" />
    <meta name="msapplication-TileImage" sizes="70x70" href="~/favicons/mstile-70x70.png">
    <meta name="msapplication-TileImage" sizes="144x144" href="~/favicons/mstile-144x144.png">
    <meta name="msapplication-TileImage" sizes="150x150" href="~/favicons/mstile-150x150.png">
    <meta name="msapplication-TileImage" sizes="310x150" href="~/favicons/mstile-310x150.png">
    <meta name="msapplication-TileImage" sizes="310x310" href="~/favicons/mstile-310x310.png">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
    <title>SoundVast</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/build/vendor.bundle.css" />
    <link rel="stylesheet" href="/build/app.bundle.css" />
</head>

<body>
    <div id="app"></div>

    <script defer src="/build/vendor.bundle.js"></script>
    <script defer src="/build/app.bundle.js"></script>
</body>

</html>