@import '../styles/colors';

body {
    font-family: Futura, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
}

button {
    padding: 0;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

button svg, a svg {
    fill: @grey4;
}

button:hover, a:hover {
    svg {
        fill: @grey5;
    }
}

a {
    color: @primary;
    cursor: pointer;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

:global(.DateRangePicker), 
:global(.DayPickerRangeController),
:global(.SingleDatePicker) {
    * {
        box-sizing: border-box;
    }
}
