@model LiveStreamCreateViewModel

<div class="radiostation-details">
    <a href="#">Remove</a>
    <div class="row row-eq-height">
        <div class="col-md-5">
            <div class="dropzone image" data-url="@Url.Action("TempStoreImageFile", "UploadMain")"></div>
            <input type="hidden" asp-for="Image" />
        </div>
        <div class="col-md-7">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>

                <label asp-for="AudioUrl"></label>
                <input asp-for="AudioUrl" class="form-control" />
                <span asp-validation-for="AudioUrl" class="text-danger"></span>

                <label asp-for="WebsiteUrl"></label>
                <input asp-for="WebsiteUrl" class="form-control" />
                <span asp-validation-for="WebsiteUrl" class="text-danger"></span>

                <label asp-for="SelectedGenreIds"></label>
                <select asp-for="SelectedGenreIds" asp-items="GenresSelectList" class="form-control genres" multiple="multiple" />
                <span asp-validation-for="GenresSelectList" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>